$primary: #000000;
$greyaccent: #f6f6f6;

$default_font_size: 1.1em;
$title_font_size: 4em;
$sub_title_font_size: 1.4em;

@mixin heading-style($size, $weight: 900) {
    font-size: $size * 2em;
    font-weight: $weight;
    line-height: 1em;
    padding: .3em 0;
}

@mixin paragraph-style($size, $weight) {
    font-size: $size * 1.2em;
    font-weight: $weight;
}

@mixin subtitle-style($size) {
    font-size: $size * 1.1em;
    opacity: 50%;
}


body {
    margin: 0;
    padding: 0px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 90%;
    margin: auto;
    padding: 2em 0;
}


header {
    padding: 20px 0px;

    .top-logo {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .header-title {
        @include heading-style(1.8);
        text-align: center;
        max-width: 850px;
        margin: auto;
        padding-top: 30px;
    }

    .header-subtitle {
        @include subtitle-style(1);
        text-align: center;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 2em;

    .item {
        padding: 1.5em;
        border-radius: 20px;
        text-decoration: none;

        .image {
            border-radius: 20px;
            transition: all 0.3s;
        }

        .content {
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            gap: .2em;

            .cta {
                @include subtitle-style(1.03);
                text-decoration: none;
            }
        }

        &:hover {
            background-color: $greyaccent;

            .image {
                scale: 92%;
                transition: all 0.3s;
            }
        }
    }


}

footer {
    border-top: 1px solid #dddddd;

    .footer-content {
        display: flex;
        gap: 5em;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) {
    header {

        .header-title {
            @include heading-style(1.3);
            text-align: center;
            max-width: 850px;
            margin: auto;
            padding-top: 30px;
        }
    }
}